{% extends 'base.html.twig' %}

{% block title %}Hello TransportProviderController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ transport_provider.name }}</h1>
</div>
{% endblock %}
